[package]
name = "json"
version = "0.7.2"
authors = ["Maciej Hirsz <maciej.hirsz@gmail.com>"]
description = "JSON implementation in Rust"
repository = "https://github.com/maciejhirsz/json-rust"
documentation = "http://terhix.com/doc/json/"
license = "MIT"

[dev-dependencies]
serde = "*"
serde_json = "*"
rustc-serialize = "*"
