[package]
name = "json"
version = "0.11.2"
authors = ["Maciej Hirsz <maciej.hirsz@gmail.com>"]
description = "JSON implementation in Rust"
repository = "https://github.com/maciejhirsz/json-rust"
documentation = "http://json.rs/doc/json/"
license = "MIT/Apache-2.0"
