[package]
name = "json"
version = "0.8.6"
authors = ["Maciej Hirsz <maciej.hirsz@gmail.com>"]
description = "JSON implementation in Rust"
repository = "https://github.com/maciejhirsz/json-rust"
documentation = "http://terhix.com/doc/json/"
license = "MIT"

[dependencies]
itoa = "0.1"
dtoa = { git = "https://github.com/maciejhirsz/dtoa", branch = "master" }

[dev-dependencies]
serde = "*"
serde_json = "*"
serde_macros = "*"
rustc-serialize = "*"
num-traits = "*"
